html{  
  scroll-behavior: smooth;  
}
body{
  box-sizing: border-box;
 margin:0;
 padding:0;
 width: 100%;
 height: 100vh;
 font-family: Inter,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#header-img{
position:absolute;
width:3.5%;
border-radius:50%;
cursor:pointer;
}
.title{  
top:-3vh ;
left: 4%;
font-family: fantasy;
font-size: 40px;
color: #1c0076;
}

nav{ 
 z-index:-1;
 padding-left:60%;
 display:flex; 
 justify-content: space-around;
}

li{    
 list-style-type:none;  
 text-align:center; 
 width:25%;
 height: 8vh; 
}

a{ 
color: black;
 font-size:25px;  
 font-weight: 500;
 text-decoration:none;
text-decoration-color:#7028e4;
 line-height:8vh;
 font-weight:1px;   
}
a:hover{ 
text-decoration: underline;
text-decoration-color: #7028e4;
}
h1{  
margin: 0;
align-items: center;
text-align: center;
display: flex; 
 color:black; 
 font-size:60px;
 font-weight:600;

}
h2{
 position:relative;  
 text-align:center;
 color:black;  
 font-size:30px;
 font-weight:200;
}
#video{
  width: 1600px;
  height:603px;
}
#video-box{
display:flex;
justify-content: space-around;
padding: 3%;
background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.home{
  height: 70vh;
}
#precios{  
 display:flex;
 justify-content:center;
 height:44vw; 
  
}
.placa-img{
 width:104%; 
 border-radius:5px;    
}
.placa-img2{
 width:112%; 
 border-radius:5px;  
}
.placa-img3{
 width:107%; 
 border-radius:5px;  
}
.placa-img4{
 width:104%; 
 border-radius:5px;  
}
h3{
 font-size:25px;
 color:white;
 font-weight:200;
}
.price{
 font-size:30px;
}
.box{  
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%); 
 width:150px; 
 text-align:center;  
 margin:5px;
 line-height:150px;  
 border-radius:5px; 
 overflow:hidden;
 cursor:pointer;  
 
}
.c1{
flex-grow:1;
border:1px solid black;

}
.c1:hover{
flex-grow:3;
transition:0.5s;
}


.c2{
 flex-grow:1;
  border:1px solid black;
}
.c2:hover{
flex-grow:3;
transition:0.5s;
}

.c3{
 flex-grow:1;
  border:1px solid black;
}
.c3:hover{
flex-grow:3;
transition:0.5s;
}
.c4{
 flex-grow:1;
  border:1px solid black;
}
.c4:hover{
flex-grow:3;
transition:0.5s;
}
#form{    
 display:flex; 
 font-size:30px;    
 justify-content:center;
 margin:3vh;
}
p{
 position:absolute;
 font-size:20px;
}
#email{
 margin-top:50px;  
 height:40px;
 width:300px;  
}
#submit{
 cursor:pointer;
 margin-top:50px; 
 height:47px;
 width:200px;
 font-size:20px;
 color:white;
 background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
 font-weight:200;
}
@media screen and (max-width:900px){  
nav{

 flex-direction:column;
 align-items: center;
 justify-content:center;
}
iframe{
 height:400px;
}

#header-img{
visibility:hidden;
}

 a{
   font-size:20px;
 }
 h1{
   font-size:20px;
 }
 h2{
   font-size:20px;
 }
 h3{
   font-size:20px;
 }
 .price{
   font-size:20px;
 }
}