html{  
  scroll-behavior: smooth;  
}
body{
  box-sizing: border-box;
 margin:0;
 padding:0;
 width: 100%;
 height: 100vh;
 font-family: Inter,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
/*NAV*/
#header-img{
position:fixed;
z-index: 999;
width:3.5%;
border-radius:50%;
cursor:pointer;
}
.title{  
 position:fixed;
z-index: 999;
top:-3vh ;
left: 4%;
font-family: "Silkscreen", sans-serif; 
font-weight: 100;
font-size: 35px;
color: white;
cursor: pointer;
}
nav{ 
font-family: "Silkscreen", sans-serif;
z-index: 998;
width: 100%;
height: 9vh;
position: fixed;
display: flex;
flex-direction: row;
background-image: linear-gradient(to right,#1727e1  0%,  #cb1199 100%);
box-shadow: 0px 0px 30px 5px black;
}

nav li, #titleBtn{ 
position: relative; 
list-style-type:none; 
left: 50%;
width: 10%; 
height: 8vh; 
cursor: pointer;
}
a{   
color: white;
 font-size:22px;  
 font-weight: 500;
 text-decoration:none;
text-decoration-color:gold;
 line-height:8vh;
 font-weight:1px;   
}
a:hover{ 
text-decoration: underline;
text-decoration-color: white;
}
button{
  font-family: "Silkscreen", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color:rgb(66, 45, 255);
  color: white;
  border-color: black;
  border-radius:10px;
  width: 10%;
}
button:hover{
  border-color: white;
  box-shadow: 1px 1px 10px 2px white;
}
/*NAV*/
/*HERO*/
h1{ 
font-family: "Silkscreen", sans-serif; 
position: relative;
text-align: center;
color:white; 
font-size:80px;
font-weight:300;
}
h1 img{ 
 width: 3%;
  }


#hero{
  background-image: url('../img/hero.jpg'); 
  background-size: cover; 
  background-attachment: fixed;  
  width: 100%;
  height: 80vh; 
}
#hero div{
position: absolute;
background-color: rgba(0, 0, 0, 0.409);
top: 20vh;
width: 100%;
height: 30vh;
}
#titleEffect{
  cursor: pointer;
}
/*HERO*/
/*SLIDER*/
.slider{
  height:150px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(250px*18);
  animation: scroll 20s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px *9));
  }
}
.slide{
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.slide img{
  width: 100%;
  transition: transform 1s;
}
.slide img:hover{
  transform: translateZ(20px);
}

/*SLIDER-SHADOWS*/
.slider::before, .slider::after{
background: linear-gradient(to right, rgba(255, 255, 255,1) 0%,rgba(255, 255, 255,0) 100%);
content:'';
height: 100%;
position: absolute;
width: 15%;
z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;  
}
.slider::after{
  right:0;
  top: 0;
  transform: rotateZ(180deg);
}

/*SLIDER*/
/*HOME*/
#home{
  height:80vh;
  justify-content: center;    
}
#home h4{
  display: flex;  
  text-align: center;
  flex-direction: column;
  justify-content: center;   
  font-size: 25px; 
  width: 70%;  
  padding-top: 5vh;
  margin:0 auto;
  color:#1c0076; 
}
#home ul{
  margin-top:4%;  
}
#home b,#text{
  display: flex;  
  flex-direction: column;    
  font-size: 20px;
  width: 80%;
  margin-left: 11%;
} 
#home li{  
  list-style: none;
}
li img{
  position: absolute;
  left: 9.5%;
  width: 40px;
}
/*HOME*/
/*VIDEO*/
h2{
  position:relative;  
  display: flex;
  flex-direction: column;
  text-align:center;
  color:black;  
  font-size:30px;
  font-weight:300;
 }
#video{
  height: 80vh;
  width: 100%;  
  object-fit: cover;
}
#video-box{
padding-top: 10vh;
height: 90vh;
display:flex;
flex-direction: column;
object-fit: cover;
}
/*VIDEO*/
/*PRODUCTO*/
#productos{  
  padding-top: 6vh;
 display:flex;
 flex-direction: column;
}
.container-product{
  display: flex;
}
h3{
 font-size:25px;
 color:white;
 font-weight:200;
}

.box{ 
 display: flex; 
 flex-direction: column;
background-color:#cb1199; ; 
 width:25%; 
 height: 70vh; 
 margin:5px;
 border: 1px solid black; 
 cursor:pointer;   
}
.box:hover{
  transition: 0.5s;
  margin-top:-20px;
}
.placa-img img{
  width:100%; 
  height: 50vh;
  border-radius:5px;   
  display: flex;
  flex-direction: column; 
  object-fit: cover;
 }
 .imgTitle h3{
  display: flex;
  flex-direction: column;
  height: 6vh;
  font-size: 32px;
  font-weight: 300;
 }
.productBtns{
 position: absolute;
 text-align: center;
 margin-top: 3vh;
 width: 24%;
}
/*PRODUCTO*/
#form{    
 display:flex; 
 font-size:30px;    
 justify-content:center;
 margin:3vh;
 margin: 0;
}

header p{
 position:absolute;
 font-size:20px;
}
form p{
  position:absolute;
  font-size:20px;
}
#email{
 margin-top:50px;  
 height:40px;
 width:300px;  
}
#submit{
 cursor:pointer;
 font-family: "Silkscreen", sans-serif; 
 margin-top:50px; 
 height:47px;
 width:200px;
 font-size:20px;
 color:white;
 background-color:#1727e1;
 font-weight:200;
}


@media screen and (max-width:900px){  
nav{ 
  font-size: 50px;  
}
nav li{
  display: flex;
  flex-direction: column;
 justify-content: center;
 text-align:center; 
 align-items: center;
 width:100%;
 height: 10vh; 
}
.home{
  height: 90vh;
}

#header-img{
visibility:hidden;
}
.title{  
visibility:hidden;
  }
  #video{
    width: 1000px;
    height:403px;
  }
#precios{ 
  flex-direction: column;     
}
.box{
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60%;
}

 a{
   font-size:20px;
 }
 h1{
   font-size:20px;
 }
 h2{
   font-size:20px;
 }
 h3{
   font-size:20px;
 }
 .price{
   font-size:20px;
 }
}
@media screen and (max-width:500px){  
  nav{ 
    flex-direction: column;  
  }
  nav li{  
    margin: 0;
    padding: 0;   
  }
  #nav-bar{
  margin: 0;
  padding: 0;
  }
  button{
    margin: 0 auto;
  }
  .home{
    height: 115vh;
  }
  
  #header-img{
  visibility:hidden;
  }
  .title{  
  visibility:hidden;
    }
  #video-box{
    flex-direction: column;
    width: 500px;

    }
  #video{
      width: 500px;
      height:300px;
    }
  #precios{ 
    flex-direction: column;     
  }
  .box{
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 90%;
    height: 80vh;
  }
  
   a{
     font-size:20px;
   }
   h1{
     font-size:20px;
   }
   h2{
     font-size:20px;
   }
   h3{
     font-size:20px;
   }
   .price{
     font-size:20px;
   }
  }